@charset "UTF-8";
/*-----------main.css--------*/
* {
  box-sizing: border-box; }

html {
  width: 100%;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  font-family: 'Ubuntu-L', sans-serif;
  width: 100%;
  background-color: #fff; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none;
  cursor: pointer; }

div {
  display: block; }

.container {
  width: 94%;
  max-width: 58.75rem;
  margin: 0 auto; }

p {
  margin: 0; }

@media screen and (max-width: 480px) {
  img {
    max-width: 100%; } }
.burger {
  width: 100%; }

/*------------Fonts----------------*/
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-B.ttf") format("opentype"); }
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff") format("opentype"); }
@font-face {
  font-family: 'Lifehack Medium';
  src: url("../fonts/Lifehack Medium.WOFF") format("opentype"); }
@font-face {
  font-family: 'Ubuntu-R';
  src: url("../fonts/Ubuntu-Regular.woff") format("opentype"); }
@font-face {
  font-family: 'Ubuntu-L';
  src: url("../fonts/Ubuntu-Light.woff") format("opentype"); }
/*-------Vertical scroll-------*/
.scroll {
  position: fixed;
  color: white;
  right: 4.375rem;
  top: 6.25rem;
  z-index: 10; }

.scroll__list {
  position: absolute;
  list-style-type: none; }

.scroll__item {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-top: 0.25rem;
  position: relative; }

.scroll__item:before {
  content: '';
  display: inline-block;
  width: 0.375rem;
  height: 0.375rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer; }

.scroll__item--active {
  border-color: #fff;
  border: 1px solid #fff; }

/*-------------------------Navigation--------------*/
.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header {
  display: flex;
  position: relative;
  padding-top: 0.75rem;
  width: 95%;
  margin: 0 auto; }

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.nav__item:nth-child(7) .nav__link::after {
  visibility: hidden; }

.nav__link {
  text-decoration: none;
  color: #fff;
  line-height: 2.5rem;
  font-family: 'Ubuntu-R', sans-serif;
  text-transform: uppercase;
  font-size: 0.8125rem; }
  .nav__link::after {
    content: "•";
    margin-right: 0.9375rem;
    margin-left: 0.9375rem; }

/*------Buttons---*/
.btn {
  padding: 0.8125rem 1.5rem;
  background-color: #e35028;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-size: 0.8125rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }

.btn__black {
  background-color: #2f3234;
  border: 0;
  margin-top: 1.25rem;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .btn__black {
      margin: 0;
      border: 0; } }

.burgnav {
  cursor: pointer; }

.fullscreen-menu__close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.3; }

@media screen and (max-width: 768px) {
  .fullscreen-menu__close {
    display: block; } }
.fullscreen-menu__close:hover {
  opacity: 1; }

.fullscreen-menu__close:before, .fullscreen-menu__close:after {
  position: absolute;
  left: 0.9375rem;
  content: ' ';
  height: 17px;
  width: 3px;
  border-radius: 3px;
  background-color: #fff; }

.fullscreen-menu__close:before {
  transform: rotate(45deg); }

.fullscreen-menu__close:after {
  transform: rotate(-45deg); }

.ingredients__close {
  position: absolute;
  right: 2rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.8;
  cursor: pointer; }

.ingredients__close:before, .ingredients__close:after {
  position: absolute;
  left: 0.9375rem;
  content: ' ';
  height: 27px;
  width: 5px;
  border-radius: 3px;
  background-color: #e35028; }

.ingredients__close:before {
  transform: rotate(45deg); }

.ingredients__close:after {
  transform: rotate(-45deg); }

.ingredients__close:hover {
  opacity: 1; }

@media screen and (min-width: 900px) {
  .ingredients__close {
    display: none; } }
.popup__close {
  position: relative;
  right: 2rem;
  top: 1rem;
  width: 1rem;
  height: 1rem;
  opacity: 0.8;
  cursor: pointer; }

.popup__close:before, .popup__close:after {
  position: absolute;
  left: 0.9375rem;
  content: ' ';
  height: 17px;
  width: 2px;
  border-radius: 3px;
  background-color: #e35028; }

.popup__close:before {
  transform: rotate(45deg); }

.popup__close:after {
  transform: rotate(-45deg); }

.popup__close:hover {
  opacity: 1; }

/*---------------------------------Page1------------------------------------*/
.section_hero {
  background-image: url(/img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hero-content {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .hero-content {
      flex-direction: column;
      align-items: center;
      flex-shrink: 3; } }

.logo-icon {
  height: 4.3125rem;
  width: 5.75rem;
  margin-right: 1.875rem; }

.burger_img {
  position: relative;
  flex: 1;
  display: block; }

@media screen and (max-width: 480px) {
  .burger_img {
    width: 80%; } }
/*Текст мы делаем натуральные бургеры*/
.title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.3125rem;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .title {
      text-align: center; } }

.description {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center; }

.description__text {
  font-family: 'Lifehack Medium';
  font-weight: 500;
  letter-spacing: -0.0625rem;
  line-height: 4.0625rem;
  color: #fff;
  font-size: 3.75rem;
  width: 25.375rem; }

.subtitle {
  font-family: 'Lifehack Medium';
  font-weight: 500;
  letter-spacing: -0.0625rem;
  line-height: 4.0625rem;
  color: #fff;
  font-size: 3.75rem;
  width: 25.375rem;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .subtitle {
      text-align: center; } }

.scroll-icon {
  width: 1.8125rem;
  height: 4.875rem;
  margin-left: 50%; }

.burgnav {
  display: flex;
  flex-direction: column;
  margin-top: 1.4375rem;
  margin-left: 1.875rem;
  margin-right: 4%; }

.burg {
  width: 1.5rem;
  height: 0.3125rem;
  background-color: #fff;
  margin: 0.1875rem 0;
  margin-left: 0.375rem;
  border-radius: 0.375rem; }

@media screen and (min-width: 769px) {
  .burgnav {
    display: none; } }
@media screen and (max-width: 768px) {
  .nav__link {
    display: none; } }
/*---------------------------------Page2------------------------------------*/
.section_best {
  background: url(../img/bg2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.container__best {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

h1 {
  color: #2f3234;
  font-family: 'Gagalin';
  font-size: 3.4375rem;
  line-height: 5.3125rem;
  font-weight: 100;
  margin: 2rem 0; }

@media screen and (max-width: 480px) {
  .h2 {
    margin-left: 0.9375rem;
    margin: 0%;
    text-align: right; } }
article {
  flex: 1; }

.h {
  font-family: 'Lifehack Medium';
  font-size: 1.5rem;
  color: #2f3234;
  text-align: center;
  line-height: 1.75rem; }

@media screen and (max-width: 480px) {
  .h {
    white-space: nowrap;
    text-align: right;
    margin: 0%; } }
.p {
  font-family: 'Ubuntu-L';
  color: #2f3234;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 0.9375rem; }

@media screen and (max-width: 480px) {
  .p {
    text-align: left;
    margin: 0;
    padding-top: 8%;
    padding-bottom: 8%; } }
.best-list {
  display: flex; }

@media screen and (max-width: 480px) {
  .best-list {
    display: flex;
    flex-direction: column; } }
.best-list__item {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center; }

@media screen and (max-width: 480px) {
  .best-list__item {
    display: flex;
    width: 100%;
    flex-direction: row; } }
@media screen and (max-width: 480px) {
  .best-list__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    width: 60%; } }
.meat-icon {
  height: 5.5625rem;
  width: 6.0625rem; }

.hand-icon {
  height: 5.3125rem;
  width: 4.5625rem; }

.leaf-icon {
  height: 4.6875rem;
  width: 5.5rem; }

@media screen and (max-width: 480px) {
  .meat-icon, .hand-icon, .leaf-icon {
    width: 25%;
    margin-right: 15px; } }
/*---------------------------------Rewiews-----------------------------------*/
.reviews__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%; }

.section {
  height: 100vh; }

.section__title {
  text-align: center; }

.reviews {
  height: 100%; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;
  filter: grayscale(100%); }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews_photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center; }

.reviews__name {
  color: #fff;
  font-family: 'Gagalin';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 2.0625rem; }

.reviews___text {
  font-family: Ubuntu-L;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 2;
  text-overflow: ellipsis;
  height: 10.9375rem;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .reviews___text {
      padding: 0;
      font-size: 0.875rem;
      align-items: center;
      line-height: 1.5rem;
      overflow: visible;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .reviews___text {
      display: none; } }

.reviews__hover {
  opacity: 0;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(47, 50, 36, 0.5);
  transition: opacity .4s;
  padding: 1.5625rem 1.25rem 1.5625rem 1.25rem; }
  @media screen and (max-width: 768px) {
    .reviews__hover {
      padding: 7%;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; } }

.reviews__hover:hover {
  opacity: 1; }

.team {
  background: url(../img/bg-team.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.team-accordeon {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  top: 0;
  bottom: 0;
  left: 49,5%;
  right: 0;
  height: 100%;
  background: rgba(62, 64, 66, 0.93);
  padding-left: 6.25rem;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .team-accordeon {
      width: 100%;
      padding-left: 0;
      text-align: center; } }

.team__title {
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 60.11px; }

.team-accordeon__list {
  display: flex;
  flex-direction: column; }

.team-accordeon__item {
  display: inline-block; }

.team-accordeon__trigger {
  cursor: pointer;
  font-family: 'Gagalin', Helvetica, sans-serif;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 29.13px;
  margin: 2%; }
  .team-accordeon__trigger::before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.125rem;
    margin-right: 0.625rem;
    margin-left: -1.25rem;
    background: url(../img/btn-up.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }

.team-accordeon__trigger--active {
  color: #f9b43b; }
  .team-accordeon__trigger--active::before {
    background: url(../img/btn-down.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }

.team-accordeon__content {
  display: flex;
  color: #fff;
  width: 22.5rem;
  height: 0;
  overflow: hidden;
  line-height: 1.42;
  transition: 0.8s; }
  @media screen and (max-width: 768px) {
    .team-accordeon__content {
      display: block;
      margin: 0 auto; } }

.team-accordeon__trigger--active + .team-accordeon__content {
  height: 100px; }
  @media screen and (max-width: 768px) {
    .team-accordeon__trigger--active + .team-accordeon__content {
      height: 200px;
      padding-top: 5px; } }

.team-accordeon__content-photo {
  margin: 0 auto;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 100%;
  margin-right: 1.3125rem; }

.team-accordeon__description {
  font-family: 'Ubuntu-L'; }

.team-accordeon__occupation {
  font-weight: 100;
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
  font-weight: bold; }

.team-accordeon-info {
  line-height: 1.5rem;
  font-size: 0.875rem;
  max-height: 6.1875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300; }

.order {
  background: url(../img/bg-order.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative; }

@media screen and (max-width: 480px) {
  .question__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.container__order {
  margin-top: 10%;
  margin-bottom: 5%;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .container__order {
      margin-top: 0%;
      margin-bottom: 0%;
      padding-top: 15%; } }

.order__title {
  display: flex;
  justify-content: center;
  margin: 5%; }
  @media screen and (max-width: 480px) {
    .order__title {
      line-height: 100%;
      font-size: 50px;
      padding: 0 2%;
      margin: 5%; } }

.form__label-title {
  color: #fff;
  font-family: 'Ubuntu-L',sans-serif;
  font-size: 0.875rem;
  padding-bottom: 0.4375rem; }

.form__input {
  border: 0.125rem solid transparent;
  border-radius: 0.25rem;
  padding: 0.4375rem 1.3125rem;
  outline: none;
  box-sizing: border-box;
  width: 100%; }
  .form__input:focus {
    border: 2px solid #f9b43b; }

.form {
  display: flex; }

@media screen and (max-width: 768px) {
  .form {
    flex-direction: column; } }

.form__row {
  display: flex;
  margin-bottom: 0.9375rem; }
  @media screen and (min-width: 768px) {
    .form__row {
      margin-bottom: 1%; } }

.form__label {
  flex: 1;
  margin-right: 1.25rem; }
  .form__label:last-child {
    margin-right: 0; }
  .form__label:first-child {
    margin-left: o; }

.form__label-radio {
  margin-right: 1.25rem; }

.form__textarea {
  min-height: 6.6875rem; }

.form__button {
  margin-top: 0%; }

.btn__black2 {
  background-color: transparent; }

.form__label-checkbox {
  padding: 0%; }

.form__order {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .form__order {
      flex-direction: column;
      padding-left: 16%;
      padding-right: 16%;
      height: 100%; } }
  @media screen and (max-width: 480px) {
    .form__order {
      flex-direction: column;
      padding: 0; } }

@media screen and (max-width: 768px) {
  .form__col {
    width: 100%;
    float: none;
    margin-left: 0; } }

.form--col--left {
  flex: 1; }

.form--col--right {
  margin-left: 1.25rem;
  flex: 1; }
  @media screen and (max-width: 768px) {
    .form--col--right {
      margin-left: 0; } }

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer; }

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: #ffffff; }

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px; }

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%; }

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #e35028;
  border-bottom: 4px solid #e35028;
  transform: rotate(-45deg); }

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #e35028; }

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0; }

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1; }

/*------Menu---*/
.menu {
  background: url(../img/bg-menu.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.menu__title {
  display: inline-block;
  margin-top: 6%;
  margin-left: 6%;
  color: #fff; }

.menu__list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 30%;
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  transition: .7s; }

@media screen and (max-width: 768px) {
  .menu__list {
    left: 0%; } }
.menu__item {
  overflow: hidden;
  position: relative;
  display: flex;
  transition: .7s;
  background-color: rgba(47, 50, 52, 0.93); }

.menu__item-active {
  flex-grow: 1; }

.menu__item-active .menu__title-text {
  color: #f9b43b; }

.menu__item-active .menu__item-desc {
  left: 5rem;
  right: 0;
  top: 0;
  bottom: 0; }

.menu__item-active .menu__item-text {
  transition-delay: .7s;
  opacity: 1; }

.menu__item-title {
  text-decoration: none;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  z-index: 2;
  padding-bottom: 3.5rem; }

.menu__title-text {
  padding: 0 1.25rem;
  transition: color 1s;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-family: "Gagalin";
  font-size: 2.5rem;
  color: #fff; }

.menu__item-desc {
  position: absolute;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0; }

.menu__item-text {
  padding: 3.75rem 2.5rem;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 300;
  color: #fff;
  transition: .5s;
  opacity: 0;
  overflow: hidden; }

/*------contacts---*/
.contacts {
  background: url(../img/bg-map1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative; }

.socials {
  text-align: center; }

.footer {
  background: url(../img/bg-map2.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.875rem 6%; }

@media screen and (max-width: 768px) {
  .footer {
    padding: 1% 2%; } }
.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto; }

@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column; } }
.footer__col {
  width: 50%; }

@media screen and (max-width: 480px) {
  .footer__col {
    width: 100%;
    text-align: center; } }
address {
  font-style: normal; }

.footer__text {
  font-family: 'Ubuntu-L';
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff; }

.footer__phone {
  font-family: 'Ubuntu-L';
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #e35028;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle; }

.social__link-icon-red {
  fill: #e35028;
  height: 0.6875rem;
  width: 0.75rem; }

.footer__col-right {
  width: 50%; }

@media screen and (max-width: 480px) {
  .footer__col-right {
    margin-top: 0.75rem; } }
.socials {
  text-align: end; }

@media screen and (max-width: 480px) {
  .socials {
    width: 100%;
    text-align: center; } }
.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.25rem; }

.social__item:nth-child(1) {
  margin: 0; }

.social__link-icon {
  height: 1.25rem;
  width: 1.25rem;
  fill: #585858;
  filter: grayscale(100%);
  transition: .3s; }
  .social__link-icon:hover {
    fill: #fff; }

.slider {
  background: #f9b43b;
  background: linear-gradient(0deg, #f9b43b 0%, #ee8d38 35%, #f8b33b 100%); }

.slider__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.slider__content {
  display: flex; }

@media screen and (max-width: 768px) {
  .slider__content {
    flex-direction: column; } }
.slider__content-right {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  padding-top: 5%; }

@media screen and (max-width: 768px) {
  .slider__content-right {
    align-items: center;
    text-align: center;
    padding-top: 0%; } }
.slider__content-left {
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media screen and (max-width: 768px) {
  .slider__content-left {
    flex-direction: row; } }
.scroll-icon2 {
  width: 1.8125rem;
  height: 4.875rem; }

.slider__scroll {
  margin-left: 2%;
  margin-right: 2%; }

.slider__scroll__left {
  transform: rotate(90deg); }

.slider__scroll__right {
  transform: rotate(-90deg); }

.slider_title {
  color: #fff;
  font-weight: 400;
  line-height: 3.9375rem;
  text-align: start;
  padding-right: 5%;
  padding-top: 0%; }

@media screen and (max-width: 768px) {
  .slider_title {
    margin-top: 0%;
    font-size: 3.125rem;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center; } }
@media screen and (max-width: 480px) {
  .slider_title {
    margin-top: 0%;
    font-size: 3.125rem;
    line-height: 52.64px;
    align-items: center;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%; } }
.slider__content-info {
  color: #fff;
  font-family: 'Ubuntu-L';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.4375rem; }

.slider__content-price {
  margin-top: 10%; }

@media screen and (max-width: 768px) {
  .slider__content-price {
    display: flex; } }
.price {
  font-family: Gagalin;
  color: #e35028;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -1.79px; }

.order__btn {
  margin-left: 5%; }

.composition__block {
  width: 5.625rem;
  height: 5.625rem;
  background-color: #f08d35;
  border-radius: 0.25rem;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; }

.composition__block:hover {
  background-color: #e35028; }

@media screen and (min-width: 900px) {
  .composition__block {
    top: 4.375rem;
    right: 33.125rem;
    left: 5rem; } }
@media screen and (max-width: 768px) {
  .composition__block {
    top: 120px;
    right: 530px;
    left: 150px; } }
@media screen and (max-width: 480px) {
  .composition__block {
    top: 50px;
    right: 20px;
    left: 16px; } }
.slider__container {
  position: relative; }

.composition-icon {
  width: 2.875rem;
  height: 2.75rem;
  fill: #fff; }

.composition__text {
  color: #fff;
  font-family: Gagalin;
  font-size: 14px;
  font-weight: 400;
  line-height: 28.11px; }

.kkal__block {
  width: 4.375rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: absolute; }

@media screen and (min-width: 900px) {
  .kkal__block {
    top: 470px;
    left: 86px; } }
@media screen and (max-width: 768px) {
  .kkal__block {
    top: 112px;
    right: 160px;
    left: 550px; } }
@media screen and (max-width: 480px) {
  .kkal__block {
    top: 50px;
    right: 20px;
    left: 415px; } }
.kkal-icon {
  width: 3.75rem;
  height: 3.75rem;
  opacity: 0.5;
  position: relative; }

.kkal__text {
  opacity: 0.5;
  color: #fff;
  font-family: Gagalin;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem; }

.kkal__number {
  position: absolute;
  padding-top: 1.5625rem; }

.black__burger_img {
  margin-bottom: 20px; }

@media screen and (max-width: 768px) {
  .black__burger_img {
    margin-bottom: 0;
    padding-top: 60px;
    text-align: center; } }
.ingredients {
  display: none;
  background-color: #fff;
  opacity: 0.9;
  padding: 20px;
  height: 335px;
  width: 280px;
  border-radius: 3px;
  z-index: 8; }

.composition__block:hover .ingredients {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 83px;
  top: 0px;
  transition: opacity 0.5s; }

@media screen and (max-width: 480px) {
  .ingredients {
    height: 340px;
    width: 370px;
    padding-left: 25%;
    padding-right: 145%; } }
@media screen and (max-width: 768px) {
  .ingredients {
    height: 340px;
    width: 340px;
    padding-left: 25%;
    padding-right: 125%; } }
.composition__text, .composition__weight, .composition__icon {
  flex: 1; }

.ingredients__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%; }

.ingredients__text, .ingredients__weight {
  font-family: 'Ubuntu-R';
  font-size: 14px; }

.fullscreen-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0.625rem 1.5625rem;
  background-color: #2f3234;
  align-items: start;
  justify-content: space-between;
  z-index: 10000;
  opacity: 0; }

.fullscreen-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30%; }

.fullscreen-menu__link {
  text-decoration: none;
  color: #fff;
  line-height: 2.5rem;
  font-family: 'Ubuntu-R', sans-serif;
  text-transform: uppercase;
  font-size: 0.9375rem; }

.fullscreen-menu__dot {
  color: #fff; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2f3234;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 100;
  opacity: .92; }

.overlay__content {
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  margin: 20% auto;
  flex-direction: column;
  max-width: 460px;
  position: relative; }

.popup__close {
  position: absolute;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .popup__close {
      margin-left: 280px; } }
  @media screen and (max-width: 480px) {
    .popup__close {
      margin-left: 270px;
      padding-top: 2%; } }

.overlay__title {
  color: #2f3234;
  margin-bottom: rem(25px);
  font-family: 'gagalin';
  font-weight: 400;
  font-style: normal;
  font-size: rem(14px);
  text-transform: uppercase; }

.overlay__text {
  color: #2f3234;
  font-family: 'Ubuntu-R';
  font-weight: 300;
  font-style: normal;
  font-size: rem(14px);
  line-height: 150%; }

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
