@charset "UTF-8";
/*-----------main.css--------*/
* {
  box-sizing: border-box; }

html {
  width: 100%; }

body {
  font-family: 'Ubuntu-L', sans-serif;
  width: 100%;
  background-color: #fff; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none;
  cursor: pointer; }

div {
  display: block; }

.container {
  width: 940px;
  margin: 0 auto; }

/*------------Fonts----------------*/
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-B.ttf") format("opentype"); }
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff") format("opentype"); }
@font-face {
  font-family: 'Lifehack Medium';
  src: url("../fonts/Lifehack Medium.WOFF") format("opentype"); }
@font-face {
  font-family: 'Ubuntu-R';
  src: url("../fonts/Ubuntu-Regular.woff") format("opentype"); }
@font-face {
  font-family: 'Ubuntu-L';
  src: url("../fonts/Ubuntu-Light.woff") format("opentype"); }
/*-------Vertical scroll-------*/
.scroll {
  position: fixed;
  color: white;
  right: 230px;
  top: 100px;
  z-index: 10; }

.scroll__list {
  position: absolute;
  list-style-type: none; }

.scroll__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-top: 4px;
  position: relative; }

.scroll__item:before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer; }

.scroll__item--active {
  border-color: #fff;
  border: 1px solid #fff; }

/*-------------------------Navigation--------------*/
.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header {
  display: flex;
  position: absolute;
  padding-top: 12px; }

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.nav__item:nth-child(7) .nav__link::after {
  visibility: hidden; }

.nav__link {
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  font-family: 'Ubuntu-R', sans-serif;
  text-transform: uppercase;
  font-size: 13px; }
  .nav__link::after {
    content: "•";
    margin-right: 15px;
    margin-left: 15px; }

/*------Buttons---*/
.btn {
  padding: 13px 15px;
  background-color: #e35028;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }

/*---------------------------------Первая страница------------------------------------*/
.section_hero {
  background-image: url(/img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.burger_img {
  position: relative;
  flex: 1;
  display: block; }

/*Текст мы делаем натуральные бургеры*/
.title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 50px;
  font-weight: 400;
  line-height: 85px;
  padding: 0;
  margin: 0; }

.description {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center; }

.description__text {
  font-family: 'Lifehack Medium';
  font-weight: 500;
  letter-spacing: -1.63px;
  line-height: 65px;
  color: #ffffff;
  font-size: 60px;
  width: 406px; }

.subtitle {
  font-family: 'Lifehack Medium';
  font-weight: 500;
  letter-spacing: -1.63px;
  line-height: 65px;
  color: #ffffff;
  font-size: 60px;
  width: 406px;
  margin: 0; }

.scroll-button {
  text-align: center;
  height: 78px;
  display: flex;
  justify-content: center; }

/*---------------------------------Вторая страница------------------------------------*/
.section_best {
  background: url(../img/bg2.jpg) center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto; }

.hero-content {
  width: 940px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }

h1 {
  color: #2f3234;
  font-family: 'Gagalin';
  font-size: 55px;
  line-height: 85px;
  font-weight: 100;
  margin-top: 0; }

article {
  flex: 1; }

.h {
  font-family: 'Lifehack Medium';
  font-size: 30px;
  color: #2f3234;
  text-align: center; }

.p {
  font-family: 'Ubuntu-L';
  color: #2f3234;
  font-size: 20px;
  text-align: center;
  margin: 15px; }

.best-list {
  display: flex; }

.best-list__item {
  display: flex;
  flex-direction: column;
  width: 33%; }

/*---------------------------------Третья страница------------------------------------*/
.reviews__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%; }

.section {
  height: 100vh; }

.section__title {
  text-align: center;
  flex: 1; }

.reviews {
  height: 100%; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;
  filter: grayscale(100%); }

.reviews_photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center; }

.reviews__name {
  color: #fff;
  font-family: 'Gagalin';
  font-size: 15px;
  font-weight: 300;
  line-height: 33px; }

.reviews___text {
  font-family: Ubuntu-L;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  text-overflow: ellipsis;
  height: 200px;
  overflow: hidden; }

.btn__black {
  background-color: #2f3224;
  border: 0; }

.reviews__hover {
  opacity: 0;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(47, 50, 36, 0.5);
  transition: opacity .4s;
  padding: 25px 20px 25px 20px; }

.reviews__hover:hover {
  opacity: 1; }

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
