@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  width: 100%; }

ul {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-B.ttf") format("opentype"); }
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'Lifehack Medium';
  src: url("../fonts/Lifehack Medium.otf") format("opentype"); }
@font-face {
  font-family: 'Ubuntu-R';
  src: url("../fonts/Ubuntu-Regular.ttf") format("opentype"); }
body {
  font-family: 'Ubuntu-B', sans-serif;
  width: 100%;
  background-color: #fff; }

.section_hero {
  background-image: url(/img/salad\ 1400.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

/*header*/
.container {
  width: 940px;
  max-width: 1100px;
  margin: 0 auto;
  flex: 1; }

.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

ul li {
  list-style: none; }

.nav__item:last-child .nav__link::after {
  display: none; }

.nav__link {
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  font-family: 'Ubuntu', sans-serif; }
  .nav__link::after {
    content: "•";
    margin-right: 15px;
    margin-left: 15px; }

.order button {
  text-decoration: none;
  border: 0;
  color: #fff;
  outline: none;
  display: inline-block;
  padding: 15px 15px;
  margin: 15px 15px;
  border-radius: 10px;
  background: #e45028;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: white; }

/*Середина*/
.container_middle {
  width: 975px;
  margin: 0 auto;
  justify-content: center; }

.burger_img {
  position: relative;
  flex: 1;
  display: block; }

.drops {
  position: absolute;
  top: 70px;
  left: -30px; }

.scroll-button {
  text-align: center;
  height: 78px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

/*Текст мы делаем натуральные бургеры*/
.title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 55px;
  font-weight: 400;
  line-height: 85px; }

.description {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center; }

.description__text {
  font-family: 'Lifehack Medium';
  font-weight: 500;
  letter-spacing: -1.63px;
  line-height: 65px;
  color: #ffffff;
  font-size: 60px;
  width: 406px; }

/*---------------------------------Вторая страница------------------------------------*/
.section section_hero page2 {
  display: flex; }

.hero-content {
  display: flex;
  justify-content: space-between; }

.page2 {
  background: url(../img/bg.png) center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  flex-direction: column; }

h1 {
  color: #2f3234;
  font-family: 'Gagalin';
  font-size: 55px;
  line-height: 85px;
  margin-top: 0; }

article {
  flex: 1; }

.h {
  font-family: 'Lifehack Medium';
  font-size: 30px;
  color: #2f3234;
  text-align: center; }

.p {
  font-family: 'Ubuntu-B';
  color: #2f3234;
  font-size: 20px;
  text-align: center;
  margin: 15px; }

.best-list {
  display: flex; }

.best-list__item {
  display: flex;
  flex-direction: column;
  width: 33%; }

/*---------------------------------Третья страница------------------------------------*/
.people {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.section {
  height: 100vh; }

.section__title {
  /*width: 940px; *не задала ширину, тк не могу оцентровать*/
  text-align: center;
  flex: 1;
  padding-top: 100px; }

.allpeople, .people {
  height: 100%; }

.photo {
  width: 25%;
  height: 50%;
  position: relative;
  filter: grayscale(100%); }

.people__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center; }

.people__name {
  color: #fff;
  font-family: 'Gagalin';
  font-size: 12px;
  font-weight: 400;
  line-height: 15px; }

.btn {
  text-decoration: none;
  border: 0;
  color: #fff;
  outline: none;
  display: inline-block;
  padding: 10px 10px;
  margin: 5px 1px;
  border-radius: 10px;
  background: #e45028;
  font-family: 'Ubuntu-B', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: white; }

.people__hover {
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba black, 0.3;
  padding: 50px 20px;
  transition: opacity 0.4s; }

.people__hover :hover .people__hover {
  opacity: 1; }

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
