/*------------Fonts----------------*/


@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-B.ttf") format("opentype");
}

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff") format("opentype");
}

@font-face {
  font-family: 'Lifehack Medium';
  src: url("../fonts/Lifehack Medium.WOFF") format("opentype");
}

@font-face {
  font-family: 'Ubuntu-R';
  src: url("../fonts/Ubuntu-Regular.woff") format("opentype");
}

@font-face {
  font-family: 'Ubuntu-L';
  src: url("../fonts/Ubuntu-Light.woff") format("opentype");
}