
/*------Buttons---*/

.btn {
    padding: 13px 15px;
    background-color: #e35028;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    }