
.fullscreen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0.625rem 1.5625rem;
    background-color: $black;
    align-items: start;
    justify-content: space-between;
    z-index: 10000;
    opacity: 0;
   
}

.fullscreen-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30%;
    
}

    


.fullscreen-menu__link {
    text-decoration: none;
    color: $white;
    line-height: 2.5rem;
    font-family: 'Ubuntu-R', sans-serif;
    text-transform: uppercase;
    font-size: 0.9375rem;
}

.fullscreen-menu__dot {
    color: $white;
}

//крестик закрытия
.fullscreen-menu__close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 2rem;
    height: 2rem;
    opacity: 0.3;
    }
    .fullscreen-menu__close:hover {
    opacity: 1;
    }
    .fullscreen-menu__close:before, .fullscreen-menu__close:after {
    position: absolute;
    left: 0.9375rem;
    content: ' ';
    height: 17px;
    width: 3px;
    border-radius: 3px;
    background-color: $white;
    }
    .fullscreen-menu__close:before {
    transform: rotate(45deg);
    }
    .fullscreen-menu__close:after {
    transform: rotate(-45deg);
    }