.menu {
    background: url(../img/bg-menu.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;    
}

.menu__title {
    display: inline-block;
    margin-top: 6%;
    margin-left: 6%;
    color: $white;
  }

  .menu__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    transition: .7s;
  }
  .menu__item {
    overflow: hidden;
    position: relative;
    display: flex;
    transition: .7s;
    background-color: rgba(47, 50, 52, 0.93);
  }
  
  .menu__item-active {
    flex-grow: 1;
  }

  .menu__item-active .menu__title-text {
    color: $yellow;
  }

  .menu__item-active .menu__item-desc {
    left: 80px;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .menu__item-active .menu__item-text {
    transition-delay: .7s;
    opacity: 1;
  }
  
  .menu__item-title {
    text-decoration: none;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 2;
  }
  
  .menu__title-text {
    padding: 0 1.25rem;
    transition: color 1s;
    transform: rotate(-90deg);
    white-space: nowrap;
    font-family: "Gagalin";
    font-size: 2.5rem;
    color: $white;
  }

  
.menu__item-desc {
    position: absolute;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .menu__item-text {
    padding: 3.75rem 2.5rem;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 300;
    color: $white;
    transition: .5s;
    opacity: 0;
  }



/*
.menu__title{
    position: absolute;
    top: 112px;
    left: 96px;
    color: $white;
    
}

.menu-accordeon {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    max-width: 50%;
    background-color: rgba(47, 50, 36, 0.5);
    

}

.menu-accordeon__list {
    color: $white;
    font-size: 16px;
    display: flex;
    height: 100%;
}

.menu-accordeon__item {
    display: flex;
    height: 100%;
}
.menu-accordeon__trigger {
    cursor: pointer;
    display: inline-block;
    min-width: 80px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../img/open-menu1.jpg);
    background-position: center center;
}

.menu-accordeon__trigger--active {
    .menu-accordeon__trigger-text{
        color: $yellow;
    }
}

.menu-accordeon__trigger-text {
    display: block;
    font-family: "Gagalin", sans-serif;
    font-size: 40px;
    color: $white;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: rotate(-90deg);
    white-space: nowrap; //чтобы заголовок был написан в одну строку
    transform-origin: 0 50%;

}

.menu-accordeon-content {
    width: 0%;
    overflow: hidden;
    //z-index: 2;
    line-height: 1.7;
    transition: width 1s;

}

.menu-accordeon-text {
    padding: 70px 40px;
}

.menu-accordeon__trigger--active + .menu-accordeon-content{
    width: 550px;
    background-color: rgba(47, 50, 36, 0.5)
}

/*

.menu-accordeon {
//position: absolute;
top: 0;
top: 0;
bottom: 0;
left: 49,5%;
right: 0;
height: 100%;
background: rgba(62, 64, 66, 0.93);
padding-top: 100px ;
padding-left: 100px;
width: 50%;
} 
.menu-accordeon__trigger{
    cursor: pointer;
    font-family: 'Gagalin', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px; // в макете 14
    display: inline-flex;
    align-items: center;
    color: $white;
    margin-bottom: 25px;

}




h4 {
    color: #2f3234; //заменить на белый
    font-family: 'Gagalin';
    font-size: 40px;
    line-height: 64px;
    font-weight: 100;
    margin-top: 0;
    margin: 0;
    transform: rotate(-90deg);
    white-space: normal;
    
    
}

.menu-accordeon__list{
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    
}

.menu-accordeon__item {
    display: inline-block;
    }
    

.menu-accordeon__item {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 23px;
    background: rgba(62, 64, 66, 0.93);
    cursor: pointer;
    transition: height 1s;
    // было в образце transition: all .5s ease;
} 

.menu-content {

}  */