/*-------------------------Navigation--------------*/
.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;  
  }
  
  .header {
    display: flex;
    position: relative;
    padding-top: 0.75rem;
    width: 95%;
    margin: 0 auto;   
  }
  
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  
  .nav__item:nth-child(7) .nav__link::after {
   visibility: hidden
  }
  
  .nav__link {
    text-decoration: none;
    color: $white;
    line-height: 2.5rem;
    font-family: 'Ubuntu-R', sans-serif;
    text-transform: uppercase;
    font-size: 0.8125rem;
    
    &::after {
    content: "•";
    margin-right: 0.9375rem;
    margin-left: 0.9375rem;
    }
  }