/*-------------------------Navigation--------------*/
.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;  
  }
  
  .header {
    display: flex;
    position: relative;
    padding-top: rem(12px);
    width: 95%;
    //width: rem(940px);
    margin: 0 auto;   
  }
  
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  
  .nav__item:nth-child(7) .nav__link::after {
   visibility: hidden
  }
  
  .nav__link {
    text-decoration: none;
    color: $white;
    line-height: rem(40px);
    font-family: 'Ubuntu-R', sans-serif;
    text-transform: uppercase;
    font-size: rem(13px);
    
    &::after {
    content: "•";
    margin-right: 15px;
    margin-left: 15px;
    }
  }