.order{
    background: url(../img/bg-order.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}


.container__order{
 margin-top: 10%;
 margin-bottom: 5%;
 
 @media screen and (max-width: 770px) {
    margin-top: 0%;
    margin-bottom: 0%;
}

     
}

.order__title {
    text-align: center;
    padding: 5%;
    @media screen and (min-width: 768px) {
        padding: 2%;
    }
   @media screen and (max-width: 480px) {
  
    padding: 0 2%;
}

    
}


.form__label-title {
    color: $white;
    font-family: 'Ubuntu-L',sans-serif;
    font-size: 0.875rem; 
    padding-bottom: 0.4375rem;
  
    
}


.form__input {
    border: 0.125rem solid transparent;
    border-radius: 0.25rem;
    padding: 0.4375rem 1.3125rem;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    
}

.form{
    @media screen and (min-width: 768px) {
     display: flex;  
}

}
.form__col {
    flex: 1;
}

.form__row {
    display: flex;
    margin-bottom: 0.9375rem;
    @media screen and (min-width: 768px) {
        margin-bottom: 1%;
 
   }
}

.form__label {
    flex: 1;
    margin-left: 1.25rem;
    &:first-child {
        margin-left: o;
    }
}


.form__textarea{
    min-height: 6.6875rem;
}

.form__button {
    margin-left: 1.25rem;
    margin-top: 0%;
}

.btn__black2 {
    background-color: transparent;
}

.form__label-checkbox {
    padding: 0%;
}

.form__checkbox {
    color: $red;
}

.form__order {
    display: flex;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 0 16%;
   }
   @media screen and (max-width: 480px) {
    flex-direction: column;
    padding: 0 2%;
}


}

.form__col {
    @media screen and (max-width: 768px) {
        width: 100%;
        float: none;
        margin-left: 0;
      }

}

