.order{
    background: url(../img/bg-order.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.order__title {
    text-align: center;
    padding: 5%;
}


.form__label-title {
    color: $white;
    font-family: 'Ubuntu-L',sans-serif;
    font-size: 14px;
    //padding: 10px;
    //padding-left: 0%;
    //padding-right: 20px;
    //margin-bottom: 10px;
   padding-bottom: 7px;
    //margin-right: 20px;
    
}


.form__input {
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 7px 21px;
    //margin-bottom: 10px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    //flex: 1;
    
}

/*.textarea {
    border-radius: 4px;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    padding: 2px;  
} */

.form{
    display: flex;
}
.form__col {
    flex: 1;
}

.form__row {
    display: flex;
    margin-bottom: 15px;
}

.form__label {
    flex: 1;
    margin-left: 20px;
    &:first-child {
        margin-left: o;
    }
}


.form__textarea{
    min-height: 107px;
}

.form__button {
    margin-left: 20px;
    margin-top: 0%;
}

.btn__black2 {
    background-color: transparent;
}

.form__label-checkbox {
    padding: 0%;
}

.form__checkbox {
    color: $red;
}

