/*---------------------------------Page2------------------------------------*/

.section_best  {
    background: url(../img/bg2.jpg) ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
       
  }
  
  .container__best {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  h1 {
    color: $black;
    font-family: 'Gagalin';
    font-size: 3.4375rem;
    line-height: 5.3125rem;
    font-weight: 100;
    //margin-top: 0;
    margin: 2rem 0;
  }
  
  @media screen and (max-width: 480px) {
    .h2 {
      margin-left: 0.9375rem;
      margin: 0%;
      text-align: right;

    }
  }
  
  article {
    flex: 1;
  }
  
  .h {
    font-family: 'Lifehack Medium';
    font-size: 1.5rem; 
    color: $black;
    text-align: center;
    line-height: 1.75rem; 
    }

    @media screen and (max-width: 480px) {
      .h {
        white-space: nowrap;
        text-align: right;
        margin: 0%;
        //margin-left: 0.9375rem;
      }
    }
  
  .p {
    font-family: 'Ubuntu-L';
    color: $black;
    font-size: 0.875rem; 
    line-height: 1.5rem;
    text-align: center;
    margin: 0.9375rem; 
  }
  
  @media screen and (max-width: 480px) {
    .p {
    text-align: left;
    margin: 0;
    padding-top: 8%;
    padding-bottom: 8%;
    }
  }


  .best-list {
    display: flex;
    }   
    
    @media screen and (max-width: 480px) {
      .best-list {
        display: flex;
        flex-direction: column;
 
      }
    }
  
  
  .best-list__item {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
     
  }

  @media screen and (max-width: 480px) {
    .best-list__item{
      display: flex;
      width: 100%;
      flex-direction: row;
     
  
    }
  }

  @media screen and (max-width: 480px) {
    .best-list__desc {
      display: flex;
      flex-direction: column;
    
      align-items: flex-start;
      text-align: right;
      width: 60%;
 
    }
  }


  .meat-icon {
    height: 5.5625rem; 
    width: 6.0625rem; 
    
  }
  .hand-icon {
    height: 5.3125rem; 
    width: 4.5625rem; 
  }

  .leaf-icon {
    height: 4.6875rem; 
    width: 5.5rem; 
  }

  @media screen and (max-width: 480px) {
  .meat-icon, .hand-icon, .leaf-icon {

    width: 25%;
    margin-right: 15px;
  
 
  }
  }
