.player  {
    background: url(../img/bg3.jpg) ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
       
}
.container__player {
    height: 100%;
    text-align: center;
}

.section__player__title {
color: $black;
font-family: Gagalin;
font-size: 3.8125rem;
font-weight: 400;
line-height: 3.375rem;
padding-top: 5%;
margin: 0 auto;
}

video {
width: 660px;
height: 370px;
}

