/*---------------------------------Rewiews-----------------------------------*/

.reviews__list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
  }
  
  .section {
    height: 100vh;
  }
  
  .section__title {
    text-align: center;
        }
  
  .reviews {
    height: 100%;
  }
  
  .reviews__item {
    width: 25%;
    height: 50%;
    position: relative;
    filter: grayscale(100%);

    @media screen and (max-width: 768px) {
      width: 50%;
      height: 25%;
    }
  }
  
  .reviews_photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  }
  
  .reviews__name {
  color: $white;
  font-family: 'Gagalin';
  font-size: 0.875rem; 
  font-weight: 300;
  line-height: 2.0625rem; 
     
  }
  
  .reviews___text {
  font-family: Ubuntu-L;
  font-size: 0.875rem; 
  font-weight: 300;
  line-height: 2;
  text-overflow: ellipsis;
  height: 10.9375rem; 
  overflow: hidden;
  @media screen and (max-width: 768px) {
    padding: 0;
    font-size: 0.875rem;  
    align-items: center;
    line-height: 1.5rem;  
    overflow: visible;
    text-align: center;
  }
@media screen and (max-width: 480px) {
  display: none;
}
  }
  
  .reviews__hover {
    opacity: 0;
    color: $white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(47, 50, 36, 0.5);
    transition: opacity .4s;
    padding: 1.5625rem 1.25rem 1.5625rem 1.25rem; 
    

    
    @media screen and (max-width: 768px) {
    padding: 7%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }
  }
  
  .reviews__hover:hover {
     opacity: 1;
     }