.slider {
background: rgb(249,180,59);
background: linear-gradient(0deg, rgba(249,180,59,1) 0%, rgba(238,141,56,1) 35%, rgba(248,179,59,1) 100%);
}

.slider__container {
    
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.slider__content {
    display: flex;
}

@media screen and (max-width: 768px) {
    .slider__content {
        flex-direction: column;
        
    }
}

.slider__content-right {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    padding-top: 5%;
}

@media screen and (max-width: 768px) {
    .slider__content-right {
        align-items: center;
        text-align: center;
        padding-top: 0%;
    }
}

.slider__content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .slider__content-left {
             
  
    }
}


@media screen and (max-width: 768px) {
    .slider__content-left {
        flex-direction: row;
    }
}

.scroll-icon2 {
    width: 1.8125rem;
    height: 4.875rem;
}

.slider__scroll {
    margin-left: 2%;
    margin-right: 2%;
 
}    

.slider__scroll__left {
    transform: rotate(90deg);   
}

.slider__scroll__right {
    transform: rotate(-90deg);  

}

.slider_title {
    color: $white;
    font-weight: 400;
    line-height: 3.9375rem;
    text-align: start;
    padding-right: 5%;
    padding-top: 0%;   
}


@media screen and (max-width: 768px) {
    .slider_title {
      margin-top: 0%;
      font-size: 3.125rem;
      padding-left: 30%;
      padding-right: 30%;
      text-align: center;


    }
}

@media screen and (max-width: 480px) {
    .slider_title {
      margin-top: 0%;
      font-size: 3.125rem;
      line-height: 52.64px;
      align-items: center;
      text-align: center;
      padding-left: 2%;
      padding-right: 2%;
    }
}


.slider__content-info{
color: $white;
font-family: 'Ubuntu-L';
font-size: 0.875rem;
font-weight: 300;
line-height: 1.4375rem;

}

.slider__content-price {
    margin-top: 10%;
   
}

@media screen and (max-width: 768px) {
    .slider__content-price {
        display: flex;

    }
}

.price {
    font-family: Gagalin;
    color: $red;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: -1.79px;
    
}

.order__btn {
  margin-left: 5%;  
}

//состав

.composition__block {
width: 5.625rem;
height: 5.625rem;
background-color: #f08d35;
border-radius: 0.25rem;
padding-top: 1%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
}
.composition__block:hover {
    background-color: $red; }


@media screen and (min-width: 900px) {
    .composition__block {
        top: 4.375rem;
        right: 33.125rem;
        left: 5rem;
       
    }
}


@media screen and (max-width: 768px) {
    .composition__block {
        top: 120px;
        right: 530px;
        left: 150px;
    }
}


@media screen and (max-width: 480px) {
    .composition__block {
        top: 50px;
        right: 20px;
        left: 16px;
    }
}

.slider__container {
    position: relative;
}

.composition-icon {
width: 2.875rem;
height: 2.75rem;
fill: $white;
}

.composition__text {
color: $white;
font-family: Gagalin;
font-size: 14px;
font-weight: 400;
line-height: 28.11px;
}

//kkal
.kkal__block {
    width: 4.375rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    
}

@media screen and (min-width: 900px) {
    .kkal__block{
        top: 470px;
        left: 86px;
       
    }
}


@media screen and (max-width: 768px) {
    .kkal__block {
        top: 112px;
        right: 160px;
        left: 550px;
        //bottom: 660px;
    }
}

@media screen and (max-width: 480px) {
    .kkal__block {
        top: 50px;
        right: 20px;
        left: 415px;
    }
}

.kkal-icon {
width: 3.75rem;
height: 3.75rem;
opacity: 0.5;
position: relative;
}

.kkal__text {
opacity: 0.5;
color: $white;
font-family: Gagalin;
font-size: 0.875rem;
font-weight: 400;
line-height: 1.5rem;
}

.kkal__number {
    position: absolute;
    padding-top: 1.5625rem;
}

.black__burger_img {
   margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .black__burger_img {
       margin-bottom: 0;
       padding-top: 60px;
       text-align: center;
    }
}

// блок ингредиенты

.ingredients {
    display: none;
    background-color: $white;
    opacity: 0.9;
    padding: 20px;
    height: 335px;
    width: 280px;
    border-radius: 3px;
    z-index: 8;
}

.composition__block:hover .ingredients{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 83px;
    top: 0px;
    transition: opacity 0.5s ;
} 

@media screen and (max-width: 480px) {
    .ingredients {
        height: 340px;
        width: 370px;
        padding-left: 25%;
        padding-right: 145%;
    }
}


@media screen and (max-width: 768px) {
    .ingredients {
        height: 340px;
        width: 340px;
        padding-left: 25%;
        padding-right: 125%;
    }
}

.composition__text, .composition__weight, .composition__icon {
    flex: 1;
}

.ingredients__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.ingredients__text, .ingredients__weight {
    font-family: 'Ubuntu-R';
    font-size: 14px;

}





 



