.team-accordeon {
position: absolute;
top: 0;
top: 0;
bottom: 0;
left: 49,5%;
right: 0;
height: 100%;
background: rgba(62, 64, 66, 0.93);
padding-top: 6.25rem ; //было 100
padding-left: 6.25rem ; //было 100
width: 50%;

@media screen and (max-width: 768px) {
    width: 100%;
    padding-left: 0;
    text-align: center;
   
  }

}

.team__title {
margin-bottom: 1.875rem; //было 30
}

.team-accordeon__list{
    display: flex;
    flex-direction: column;
}

.team-accordeon__item {
display: inline-block;



}

.team-accordeon__trigger{
cursor: pointer;
font-family: 'Gagalin', Helvetica, sans-serif;
text-transform: uppercase;
font-size: 0.875rem; //было 14
display: inline-flex;
align-items: center;
color: $white;
margin-bottom: 1.5625; //было 125
&::before {
    content: "";
    display: block;
    width: 1.25rem; // было 20 скорректировала "на глаз" , так, как в макете 10 и 8 px- выглядят слишком маленькими
    height: 1.125rem; //было 18
    margin-right: 0.625rem; //было 20 
    background: url(../img/btn-up.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

}

.team-accordeon__trigger--active {
color: $yellow;
    &::before {
        background: url(../img/btn-down.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.team-accordeon__content {
display: flex;
color: $white;
width: 22.5rem; // was 360 возможно нужно исправить на 360-380
height: 0;
overflow: hidden;
line-height: 1.42;
transition: height 1s;

@media screen and (max-width: 768px) {
    display: block;
  margin: 0 auto;
   
  }

}

.team-accordeon__trigger--active +.team-accordeon__content {
    height: 100%; 
    margin-bottom: 1.875rem; //was30
}

.team-accordeon__content-photo {
margin: o auto;
width: 6.25rem; //was100
height: 6.25rem; //was100
border-radius: 100%;
padding: 1rem; //was16
}

.team-accordeon__description{
font-family: 'Ubuntu-L';

}
.team-accordeon__occupation {
font-weight: 100;
margin-bottom: 0.625rem; //was10
font-size: 0.875rem; //was14
font-weight: bold;
//font-weight: bold; нужно сделать жирным, но сжимается фотка
}

.team-accordeon-info {
    line-height: 1.5rem; //was 24
    font-size: 0.875rem; //was 14
    max-height: 6.1875rem; //was 99
    overflow: hidden;
    text-overflow: ellipsis;
}